<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutMe">About Me</a></li>
        </ul>
        <div>Sudoku Solver</div>
    </nav>
</header>