<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/header.ejs") %>
    <div class="container">
        <div class="image-container">
            <!-- <img src="MyPhoto.jpg" alt="MyPhoto"> -->
        </div>
        <div class="profile">
            <h1>Sarthak Choudhary</h1>
            <div class="links">
                <div>Github: [<a href="https://github.com/Cenult/">https://github.com/Cenult/</a>]</div>
                <div>LinkedIn: [<a href="https://www.linkedin.com/in/sarthak-choudhary-3597b6227/">https://www.linkedin.com/in/sarthak-choudhary-3597b6227/</a>]</div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    
</body>